body {
  
    font-family: Arial, sans-serif;
    background-image: url("./common/Basis1.jpg");
    margin: 0;
    display: absolute;
    height: 100vh;
    flex-direction: column;
    align-items: center;
}
.navbar {
    display: flex;
  justify-content: flex-start;
  background-color: #333;
  padding: 10px;
}
.navbar a {
    width: 100px;
  height: 50px;
  background-color: black;
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  line-height: 50px;
  margin-right: 10px;
  cursor: pointer;
}
.navbar a.active {
    background-color: green;
  }
.navbar a:hover {
    background-color: #ddd;
    color: black;
}
.title {
    margin: 20px 0;
    font-size: 2em;
    text-align: center;
}
.content {
  
   position:flex;
    text-align: center;
    margin-bottom: 100px; /* Platz für die Buttons und Bild unten */
    width:30%;
    font-family: Arial;
  font-size: 1.5rem;
  text-align: center;
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  bottom:50%;
  box-sizing: border-box;
  background-color: #ebe37f;
  color: #111111;
  border: 1px solid #555;
  outline: none;
  display: block; 
  margin: 10px auto;
    animation-name: example;
    animation-duration: 4s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }
  
  @keyframes example {
    from {background-color: #f1f1f1;}
    to {background-color: #ffff84;}
  }
  
.content img {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px; /* Platz zwischen Bild und Text */
}
.bottom-container {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    width: 100%;
    align-items: flex-end;
}
.bottom-container img {
  display:block;
    margin: 0 20px; /* Platz zwischen Bild und Buttons */
    width: 50%;
    max-width: 200px;
    max-height: 200px;
    border: none;
}
.button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/*@media (max-width: 600px) {
  .bottom-container {
      flex-direction: column;
      align-items: center;
  }
  .bottom-container img {
      margin-bottom: 20px;
  }
  .bottom-container .button {
      margin: 10px 0;
  }
}*/
        
    